### Sujal Aggarwal   231047

In [33]:
import pandas as pd  #Importing Necessary Libraries
import numpy as np

In [34]:
df1=pd.read_csv(r"C:\Users\Sujal\Downloads\train.csv\train.csv")  #Reading Training Dataset
df2=pd.read_csv(r"C:\Users\Sujal\Downloads\test.csv\test.csv")    #Reading Testing Dataset

In [35]:
data=[df1,df2]    #Combining the two Dataframes
result=pd.concat(data,ignore_index=True)

In [36]:
result.head(10)  #First 10 Rows of Dataset

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
5,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...
6,3,Money Funds Fell in Latest Week (AP),AP - Assets of the nation's retail money marke...
7,3,Fed minutes show dissent over inflation (USATO...,USATODAY.com - Retail sales bounced back a bit...
8,3,Safety Net (Forbes.com),Forbes.com - After earning a PH.D. in Sociolog...
9,3,Wall St. Bears Claw Back Into the Black,"NEW YORK (Reuters) - Short-sellers, Wall Stre..."

In [37]:
result.tail(10)  #Last 10 Rows of Dataset

,Class Index,Title,Description
127590,2,Saban hiring on hold,"DAVIE - The Dolphins want Nick Saban, and the ..."
127591,1,Bosnian-Serb prime minister resigns in protest...,"Canadian Press - BANJA LUKA, Bosnia-Herzegovin..."
127592,1,Historic Turkey-EU deal welcomed,The European Union's decision to hold entry ta...
127593,2,Mortaza strikes to lead superb Bangladesh rally,Paceman Mashrafe Mortaza claimed two prize sca...
127594,1,Powell pushes diplomacy for N. Korea,WASHINGTON -- Outgoing Secretary of State Coli...
127595,1,Around the world,Ukrainian presidential candidate Viktor Yushch...
127596,2,Void is filled with Clement,With the supply of attractive pitching options...
127597,2,Martinez leaves bitter,Like Roger Clemens did almost exactly eight ye...
127598,3,5 of arthritis patients in Singapore take Bext...,SINGAPORE : Doctors in the United States have ...
127599,3,EBay gets into rentals,EBay plans to buy the apartment and home renta...

In [38]:
result.isnull().sum()  #Checking for Missing values in Dataset

Class Index    0
Title          0
Description    0
dtype: int64

In [39]:
result.shape   #Shape of Dataset

(127600, 3)

In [40]:
result1=result.drop([0,1,2,3,4,5,6,7,8,9])  #Removing the first 10 rows of Dataset
result1.shape     #New Shape of the Dataset

(127590, 3)

In [41]:
result2=result1.sample(n=len(result1))  #Random shuffling of the Dataset
result2

,Class Index,Title,Description
121402,1,China's worst floods in a century kill at leas...,BEIJING -- China's Sichuan province faced the ...
2006,2,"UAE, India hit Olympic firsts",ATHENS The United Arab Emirates and India sco...
102394,2,Russia about to face France,Russia will meet defending champion France in ...
116123,4,Microsoft Issues Five Bulletins on Windows Flaws,"Desktops, servers affected, but no vulnerabili..."
41953,3,"RISE SALLIE, RISE",Sallie Krawcheck #39;s star got brighter yeste...
...,...,...,...
42933,3,"Motorola cutting 1,000 jobs",Motorola Inc. announced Tuesday plans to cut 1...
61395,4,Photo 2 of 2: Microsoft's fashion makeover,Wood paneling and chrome dominate one of two s...
41665,4,"HP sinks utility project, lays off some workers",Firm to sell Utility Data Center package as se...
14276,3,Federal-Mogul may sell T amp;N assets after pe...,"Federal-Mogul, the engineering company whose b..."
124142,2,Franklin claims a test hat-trick,"DHAKA, Bangladesh -- James Franklin became the..."

In [42]:
n=df1.shape[0]         #Splitting the dataset into Training and Testing Datasets
traindf=result1.loc[:n-1,:]
testdf=result1.loc[n:,:]

In [43]:
traindf.shape  #Training Dataset Shape

(119990, 3)

In [44]:
testdf.shape  #Testing Dataset Shape

(7600, 3)